@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
.font1 {
    font-family: 'Work Sans',Arial, sans-serif;
    
}

@import url('https://fonts.googleapis.com/css2?family=Alexandria&display=swap');
.font2 {
    font-family: 'Alexandria', sans-serif;
}

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css');
/* .custom-icon-wrapper {
  display: inline-block;
  margin: 2%;
  background: rgb(153,153,153);
  border-radius: 50%;
  border: 5px solid rgb(102,101,102);
  padding: 50px;
  width: 120px;
  height: 120px;
  font-size: 70px;
  color: rgb(255,255,255);
  position: relative;
  transition: all 0.1s;
}
.custom-icon-wrapper:hover {
  background: rgba(153,153,153,0.6);
}

.custom-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
} */

.image1 {  
    background-image: url('/images/bg_1.jpg');
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    block-size: 600px;

  }

  .image2 {  
    background-image: url('/images/bg_2.jpg');
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    block-size: 600px;

  }

.image3 {  
    background-image: url('/images/bg_3.jpg');
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    block-size: 500px;

  }

  .image4 {  
    background-image: url('/images/bg_4.jpg');
    block-size: 500px;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .image5 {  
    background-image: url('/images/bg_5.jpg');
    
    background-size: cover;
    background-repeat: no-repeat;
  }

  .fimage5 {  
    background-image: url('/images/image_1.jpg');
    block-size: 500px;
  }
  
  .fimage6 {  
    background-image: url('/images/image_2.jpg');
    block-size: 500px;
  } 

  .fimage7 {  
    background-image: url('/images/image_3.jpg');
    block-size: 500px;
  }

  .course1{  
  background-image: url('/images/course-1.jpg');
  block-size: 500px;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  height: 275px;
  position: relative;
  display: block;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in;
  vertical-align: middle;
  border-style: none;

  }

  .course2 {  
  background-image: url('/images/image_2.jpg');
  block-size: 500px;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  height: 275px;
  position: relative;
  display: block;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in;
  vertical-align: middle;
  border-style: none;
 
  }
  .course3 {  
  background-image: url('/images/image_3.jpg');
  block-size: 500px;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  height: 275px;
  position: relative;
  display: block;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in;
  vertical-align: middle;
  border-style: none;

  }

  .course4 {  
  background-image: url('/images/image_4.jpg');
  block-size: 500px;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  height: 275px;
  position: relative;
  display: block;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in;
  vertical-align: middle;
  border-style: none;

  }
  
.bgclr {
    background-color: rgba(0, 0, 0, 0.2);
}

.block-20 {
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  height: 275px;
  position: relative;
  display: block;
}






.blog-entry .meta-date {
  object-position: left-bottom;
  display: inline-block;
  background: #5d50c6;
  
}

.blog-entry .meta-date span {
  display: block;
  color: #fff;
}

.blog-entry .meta-date .day {
  font-weight: 700;
  font-size: 20px;
}













